.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    scroll-snap-type: y mandatory;
    font-family: 'Josefin Sans' , sans-serif;
  
  }
 

  section {
    height: 100vh;
    scroll-snap-align: center;
  }
  .section{
    width: 100%;
    height: 100%;
    position: relative;
    
  }
  .sectionccenter{
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .nav {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  
  }
 
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  body {
    overflow-x: hidden;
 
    font-family: 'Josefin Sans', sans-serif;
 
  }
  

  .right {
    position: absolute;
  
  }
  .introduction {
    vertical-align: middle;
    text-align: center;
    color: #1c1c1c;
  }
  
  .button-wrapper {
    display: block;
    text-align: center;
  }
  .button {
    border: none;
    border-radius: 3em;
    display: inline-block;
  text-shadow: 2px,2px,#292929;
    padding: 0.8em 1em;
    width: auto;
    margin-top: 3%;
    margin-right: 3% ;
    box-shadow: 0,0,0,#292929;
    

  }
  
  .cta-button {
    background-color:#ffad2f;
    color: #fdfffc;
  
  }
  .cta-button :hover {
  }
  
  
  .shift {
     
  padding: 40%;
  }
  .box {
    width: 55vh;
    height: 60vh;
    box-shadow: 0px 2px 5px #292929;
    border-radius: 10px;

    margin-top: 4.5%;
    margin-bottom: 5%;
    background-color: #fdfffc;
  }
  
  .more {
    font-size: 40px;
  
  }
  .button-more:hover {
    background-color: rgb(241, 171, 171);opacity:0.4;
  
  }
  .introduction-two {
    text-align: center;
    margin-top: 5%;
  }
  
  .introduction-three {
    text-align: center;
  }
  
  .arrange {
    margin-left: 20%;
    margin-top: 5%;
  }
  
  
  .events {
    padding-top: 2%;
    text-align: center;
    font-size: 30px;
    padding-bottom: 2%;
    font: bold;
  
  }
  .description {
    font-size: 20px;
    font: normal;
    text-align: center;
  }
  
    
  .bg-color1 {
    background-color: #78ccb3;
  }
  .zoom {
    transition: transform .1s;
  }
  .zoom:hover {
    transform: scale(1.1);
  }
  .topnav {
    overflow: hidden;
    background-color: #fdfffc;
 
  }
  
  .topnav a {
    float: left;
    color: #e71d36;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    margin-top: 4%;
    
  }
  
  .topnav a:hover {
    
    padding-bottom: 3%;
  }
  
  .topnav a.active {
    
    color: #ffad2f;
  }
  
  .topnav-right {
    float: right;
    
  }
  .topnav-left {
    float: left;
    margin-left: 3%;
  }
  
  
  
   /* FOOTER */
  
  
  #footer {
 
background-color: rgba(41, 41, 41, 1);
    
    }
  .onclick:hover{
    transform: scale(1.2);
  }
  .onclick:active {
  
  transition: all .5s;
  }
 
  
  /* mouse over link */
  .footer:hover {
    color: #fdfffc;
    text-decoration: underline;

  }
 



  a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #e71d36;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}







a.leftactive
{
    position: relative;
}

a.leftactive:before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #ffad2f;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.leftactive:hover:before {
  visibility: visible;
  width: 100%;
}





.button-sec-wrapper {
  display: block;
  text-align: center;
}


.sec-button {
  background-color:#e71d36;
  color: #fdfffc;
  border: none;
  border-radius: 3em;
  display: inline-block;
  width: auto;
  padding: 15px 15px;
  box-shadow: 0,0,0,#292929; 
 
}

